<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/styles.css">
        <link rel="stylesheet" href="/static/styles/normalize.css">
        <title>{{title}}</title>
    </head>
<body>
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="/signup">Sign Up</a>
            <a href="/addnew">Add New</a>
            <a href="/blog">Blog</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>

        <div class="content">                
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endwith %}

    {% block content %}
    {% endblock %}
        </div>
            
</body>
</html>