{% extends "base.html" %}

{% block content %}

<h3>Blog Posts</h3>

    {% if blog_post|length == 0 %}
    <p>No posts yet!</p>
    {% else %}

        <ul>
            {% for blog in blog_post %}
            <a href="/blog?id={{blog.id}}"><class="titles">{{blog.title}}</class></a>
            <p>{{blog.content}}</p>
                {% for user in users%}
                    {% if blog.owner_id == user.id%}
                        <sub>Written by <a href="/blog?user_id={{user.id}}">{{ user.username }}</a></sub>
                    {% endif %}
                {% endfor %}
            <h4>*~**~**~**~**~**~**~**~**~**~*</h4>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
